.main {
    height: 500px;
    background-image: url("img/orange.jpg");
    padding: 200px 0px 0px ;
    /* background-attachment is responsible for making the image fixed */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

